* {
  box-sizing: border-box;
}
.container1 {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 2rem;
}
.container1 > img {
  max-width: 70vmin;
  max-height: 70vmin;
  border: 10px solid white;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}
/* srcset + sizes */
.container2 {
  background-color: #eee;
  margin: 2rem;
  font:
    500 125% system0ui,
    sans-serif;
}
.page-wrap {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 200px;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
}
.page-wrap > * {
  background: white;
  padding: 1rem;
}
@media (max-width: 700px) {
  .page-wrap {
    grid-template-columns: 100%;
    grid-template-areas:
      'Header'
      'main'
      'aside'
      'footer';
  }
}
@media (max-width: 500px) {
  .container2 {
    margin: 0;
  }
}
header {
  grid-area: header;
  color: #1e88e5;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
h1 {
  font-weight: 900;
  margin: 0 0 1rem 0;
}
img {
  max-width: 100%;
  height: auto;
}
.sidebar-module {
  background: #ccc;
  min-height: 100px;
  margin: 0 0 1rem 0;
}
.container7 {
  margin: 0;
  padding: 0;
  background: black;
  width: 100vw;
  height: 100vw;
}
.ImageGrid {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}
.ImageGrid > div {
  background-color: #444;
  height: 150px;
  flex: 1 0 150px;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 490px) and (max-width: 649px) {
  .ImageGrid > div:nth-child(7n + 5),
  .ImageGrid > div:nth-child(7n + 6) {
    flex: 2 0 310px;
  }
}
@media (min-width: 650px) and (max-width: 809px) {
  .ImageGrid > div:nth-child(11n + 1),
  .ImageGrid > div:nth-child(11n + 8),
  .ImageGrid > div:nth-child(11n + 10) {
    flex: 2 0 310px;
  }

  .ImageGrid > div:nth-child(11n + 4) {
    flex: 3 0 470px;
  }
}

@media (min-width: 810) {
  .ImageGrid {
    max-width: 1200px;
  }
  .ImageGrid > div:nth-child(16n + 2),
  .ImageGrid > div:nth-child(16n + 4),
  .ImageGrid > div:nth-child(16n + 11) {
    flex: 3 0 470px;
  }
  .ImageGrid > div:nth-child(16n + 5),
  .ImageGrid > div:nth-child(16n + 8),
  .ImageGrid > div:nth-child(16n + 13) {
    flex: 2 0 310px;
  }
}
/* What about responsive images in CSS with background images? */
.img {
  background-image: (url(small.jpg));
}
@media (min-width: 468px),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .img {
    background-image: url(large.jpg);
  }
}
