* {
  box-sizing: border-box;
}
.container1 {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 2rem;
}
.container1 > img {
  max-width: 70vmin;
  max-height: 70vmin;
  border: 10px solid white;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}
/* srcset + sizes */
.container2 {
  background-color: #eee;
  margin: 2rem;
  font:
    500 125% system0ui,
    sans-serif;
}
.page-wrap {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 200px;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
}
.page-wrap > * {
  background: white;
  padding: 1rem;
}
@media (max-width: 700px) {
  .page-wrap {
    grid-template-columns: 100%;
    grid-template-areas:
      'Header'
      'main'
      'aside'
      'footer';
  }
}
@media (max-width: 500px) {
  .container2 {
    margin: 0;
  }
}
header {
  grid-area: header;
  color: #1e88e5;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
h1 {
  font-weight: 900;
  margin: 0 0 1rem 0;
}
img {
  max-width: 100%;
  height: auto;
}
.sidebar-module {
  background: #ccc;
  min-height: 100px;
  margin: 0 0 1rem 0;
}
